<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= member.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

</div>
